<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Gemini JPA Target Platform" sequenceNumber="29">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2021-03"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.22.0.v20210227-0235"/>
		<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.13.100.v20210226-1447"/>
		<unit id="org.eclipse.platform.feature.group" version="4.19.0.v20210303-1800"/>
		<unit id="org.eclipse.e4.rcp.feature.group" version="4.19.0.v20210302-1107"/>
		<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.6.900.v20210227-0235"/>
		<unit id="org.eclipse.rcp.feature.group" version="4.19.0.v20210303-1800"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.701.v20201027-0550"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1702.v20201025-2315"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.400.v20200812-2314"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="jar:file:/D:/User/GitHome/gemini.dbaccess/gemini.dbaccess.updatesite/target/gemini.dbaccess.updatesite.eclipse-repository-1.2.0-SNAPSHOT.zip!/"/>
		<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.2.0.202106112023"/>
		<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.2.0.202106112023"/>
		<unit id="org.eclipse.gemini.dbaccess.hsqldb.feature.feature.group" version="1.2.0.202106112023"/>
		<unit id="org.eclipse.gemini.dbaccess.mysql.feature.feature.group" version="1.2.0.202106112023"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
		<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.7.v20200504-69f2c2b80d"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210602031627/repository"/>
		<unit id="org.junit" version="4.13.0.v20200204-1500"/>
	</location>
</locations>
</target>